@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

img {
  pointer-events: none;
}

details summary::-webkit-details-marker {
  display: none !important;
}

details summary {
  padding-left: 0 !important;
  list-style: none !important;
}

.navbar {
  transform: translateX(120vh);
  transition: all 500ms ease-in-out;
  z-index: 100;
  position: fixed;
  top: 15%;
}

.toggle-navbar {
  transform: none;
}

.hero-section {
  background: url("./assets/background/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.img-without-text {
  animation: scaleUp 3s ease-out forwards;
}

@keyframes scaleUp {
  from {
    transform: scale(50);
  }
  to {
    transform: scale(1);
  }
}

.img-with-text {
  animation: slideDown 1s ease-in linear;
}

@keyframes slideDown {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

@media screen and (max-width: 480px) {
  .hero-section {
    background: url("./assets/background/mobile-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65rem;
  }
}
