@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

img {
  pointer-events: none;
}

details summary::-webkit-details-marker {
  display: none !important;
}

details summary {
  padding-left: 0 !important;
  list-style: none !important;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: DMSerifRegular;
  src: url(./assets/fonts/DMSerifDisplay-Regular.ttf);
}

@font-face {
  font-family: EBGroundRegular;
  src: url(./assets/fonts/EBGaramond-Regular.ttf);
}

@font-face {
  font-family: EBGroundMedium;
  src: url(./assets/fonts/EBGaramond-Medium.ttf);
}

@font-face {
  font-family: EBGroundSemibold;
  src: url(./assets/fonts/EBGaramond-SemiBold.ttf);
}

@font-face {
  font-family: EBGroundBold;
  src: url(./assets/fonts/EBGaramond-Bold.ttf);
}

@font-face {
  font-family: EBGroundExtraBold;
  src: url(./assets/fonts/EBGaramond-ExtraBold.ttf);
}

.navbar {
  transform: translateX(120vh);
  transition: all 500ms ease-in-out;
  z-index: 100;
  position: fixed;
  top: 15%;
}

.toggle-navbar {
  transform: none;
}

.img-without-text {
  animation: scaleUp 3s ease-out forwards;
}

@keyframes scaleUp {
  from {
    transform: scale(50);
  }
  to {
    transform: scale(1);
  }
}

.img-with-text {
  animation: slideDown 1s ease-in linear;
}

@keyframes slideDown {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

.hero-section,
.founder-section {
  background: url(./assets/background/desktop-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

@media screen and (max-width: 480px) {
  .hero-section {
    background: url("./assets/background/mobile-bg.png");
    background-repeat: no-repeat;
    background-size: 65rem;
    background-position: center center;
  }
  .founder-section {
    background: url("./assets/background/mobile-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
  }
}
